/node_modules
/public/js
/public/css
/public/hot
/public/storage
/public/wysiwyg
/public/user_files
/storage/*.key
/storage/debugbar
/storage/framework/*
/bootstrap/cache/*.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
